services:
  trlbot2:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/ankbhatia19/trlbot2:latest
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      BALLCHASING_TOKEN: ${BALLCHASING_TOKEN}
      BALLCHASING_GROUP: ${BALLCHASING_GROUP}
      REPORT_CHANNEL: ${REPORT_CHANNEL}
    volumes:
      - ./${BALLCHASING_GROUP}.sqlite:/app/${BALLCHASING_GROUP}.sqlite
      - ./quotes.json:/app/quotes.json
    working_dir: /app
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.docker/config.json:/config.json:ro # Mount Docker credentials
    environment:
      - WATCHTOWER_POLL_INTERVAL=60
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL=${WATCHTOWER_WEBHOOK_URL}
    restart: always
